[submodule "Libraries/Lens"]
	path = Libraries/Lens
	url = https://github.com/karpinsn/Lens.git
[submodule "Libraries/GTest"]
	path = Libraries/GTest
	url = https://github.com/karpinsn/googletest.git
[submodule "Libraries/ReelBlink"]
	path = Libraries/ReelBlink
	url = https://github.com/karpinsn/ReelBlink.git
